-- DropForeignKey
ALTER TABLE "public"."plan_features" DROP CONSTRAINT "plan_features_feature_id_fkey";

-- DropForeignKey
ALTER TABLE "public"."plan_features" DROP CONSTRAINT "plan_features_plan_id_fkey";

-- DropForeignKey
ALTER TABLE "public"."subscription_features" DROP CONSTRAINT "subscription_features_feature_id_fkey";

-- DropForeignKey
ALTER TABLE "public"."subscription_features" DROP CONSTRAINT "subscription_features_subscription_id_fkey";

-- DropForeignKey
ALTER TABLE "public"."subscriptions" DROP CONSTRAINT "subscriptions_plan_id_fkey";

-- AlterTable
ALTER TABLE "public"."analyzer_topics" ADD COLUMN     "tier" TEXT NOT NULL DEFAULT 'free';

-- AlterTable
ALTER TABLE "public"."plans" DROP COLUMN "price",
DROP COLUMN "stripe_price_id",
ADD COLUMN     "advanced_analytics" BOOLEAN NOT NULL DEFAULT false,
ADD COLUMN     "custom_branding" BOOLEAN NOT NULL DEFAULT false,
ADD COLUMN     "export_to_pdf" BOOLEAN NOT NULL DEFAULT false,
ADD COLUMN     "figma_integration" BOOLEAN NOT NULL DEFAULT false,
ADD COLUMN     "master_mode" BOOLEAN NOT NULL DEFAULT false,
ADD COLUMN     "premium_analyzers" TEXT[] DEFAULT ARRAY[]::TEXT[],
ADD COLUMN     "priority_support" BOOLEAN NOT NULL DEFAULT false,
ADD COLUMN     "stripe_product_id" TEXT;

-- AlterTable
ALTER TABLE "public"."profiles" ADD COLUMN     "figma_token" TEXT;

-- AlterTable
ALTER TABLE "public"."subscriptions" DROP COLUMN "plan_id",
ADD COLUMN     "plan_price_id" TEXT NOT NULL;

-- DropTable
DROP TABLE "public"."features";

-- DropTable
DROP TABLE "public"."plan_features";

-- DropTable
DROP TABLE "public"."subscription_features";

-- CreateTable
CREATE TABLE "public"."plan_prices" (
    "id" TEXT NOT NULL,
    "plan_id" TEXT NOT NULL,
    "stripe_price_id" TEXT NOT NULL,
    "billing_interval" TEXT NOT NULL,
    "amount" INTEGER NOT NULL,
    "currency" TEXT NOT NULL DEFAULT 'usd',
    "is_active" BOOLEAN NOT NULL DEFAULT true,

    CONSTRAINT "plan_prices_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."user_feature_overrides" (
    "id" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "feature" TEXT NOT NULL,
    "value" TEXT NOT NULL,
    "reason" TEXT,
    "expires_at" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "user_feature_overrides_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "plan_prices_stripe_price_id_key" ON "public"."plan_prices"("stripe_price_id" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "user_feature_overrides_user_id_feature_key" ON "public"."user_feature_overrides"("user_id" ASC, "feature" ASC);

-- AddForeignKey
ALTER TABLE "public"."plan_prices" ADD CONSTRAINT "plan_prices_plan_id_fkey" FOREIGN KEY ("plan_id") REFERENCES "public"."plans"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."subscriptions" ADD CONSTRAINT "subscriptions_plan_price_id_fkey" FOREIGN KEY ("plan_price_id") REFERENCES "public"."plan_prices"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."user_feature_overrides" ADD CONSTRAINT "user_feature_overrides_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."profiles"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

